version: '3.8'

services:
  web:
    build: . 
    ports: 
    - "5005:5005"
    depends_on:
      - redis
  redis:
    image: "redis:latest"
    ports:
    - "6379:6379"
    volumes:
    - redis-data:/data
volumes: 
  redis-data:
